.movies__content {
  box-sizing: border-box;
  margin: 0 70px;
  padding: 80px 0;
  min-height: 100vh;
  max-width: 1280px;
}

.movies__button {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  padding: 10px 0;
  margin: 60px 0 0;
  border-radius: 6px;
  background: #2f2f2f;
  color: #fff;
  transition: 0.3s all;
  cursor: pointer;
  border: none;
  outline: none;
}

.movies__button:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .movies__content {
    margin: 0 30px;
  }
}

@media (max-width: 621px) {
  .movies__content {
    margin: 0 14px;
  }
}
