.profile__labels {
  margin: 120px 0 0;
}

.profile__label {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile__input-name {
  position: absolute;
  left: 0;
  top: 0;
  padding: 16px 0;
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  color: #fff;
  padding: 16px 0;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  text-align: right;
  border: none;
  outline: none;
  background: #202020;
  border-bottom: 1px solid #424242;
}

.profile__input:focus {
  border-bottom: 1px solid #606060;
}

.profile__input_type_error {
  border-bottom: 1px solid #ee3465;
  margin: 0;
}

.profile__input_type_error:focus {
  border-bottom: 1px solid #ee3465;
}

.profile__input-error {
  display: block;
  max-width: 358px;
  min-height: 32px;
  margin: 3px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ee3465;
  opacity: 0;
  transition: 0.3s all;
}

.profile__input-error_active {
  opacity: 1;
}

.profile__exit {
  margin: 0 auto 70px;
  padding: 2px 0;
  width: max-content;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #202020;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s all;
  color: #ee3465;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}
