.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 49px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked ~ .checkbox__checkmark {
  background-color: #3ddc84;
}
.checkbox input:checked ~ .checkbox__checkmark:after {
  left: 21px;
}
.checkbox:hover input ~ .checkbox__checkmark {
  background-color: #c4c4c4;
}
.checkbox:hover input:checked ~ .checkbox__checkmark {
  background-color: #3ddc84;
}
.checkbox .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 36px;
  background-color: #c4c4c4;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
.checkbox .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.25s ease;
}
.checkbox .checkbox__body {
  margin: 0;
  color: #fff;
  line-height: 1.4;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  transition: color 0.25s ease;
}

@media (max-width: 621px) {
  .checkbox .checkbox__body {
    font-size: 11px;
  }
}
