.techs {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 100px 0 0;
  background: #272727;
  margin: 0;
  width: 98.5vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.techs__contend {
  box-sizing: border-box;
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
}

.techs__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1140px;
}

.techs__title::after {
  content: "";
  display: block;
  padding: 23px 0 0;
  border-bottom: 1px solid #dadada;
}

.techs__subtitle {
  max-width: 730px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 90px auto 27px;
}

.techs__text {
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
}

.techs__list {
  padding: 40px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; /* Добавляем перенос элементов на новую строку */
  max-width: 100%; /* Добавляем максимальную ширину */
}

.techs__list-item {
  list-style-type: none;
  text-align: center;
  width: 90px;
  margin: 0;
  padding: 21px 0 22px;
  border-radius: 10px;
  background: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
