.navtab {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10px;
}

.navtab__list-item {
  list-style-type: none;
  width: 96px;
  margin: 0;
}

.navtab__button {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  color: #fff;
  border-radius: 10px;
  background: #303030;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s all;
}

.navtab__button:hover {
  opacity: 0.8;
}

@media (max-width: 621px) {
  .navtab__button {
    padding: 5px 0;
    font-size: 10px;
  }
}
