.about-me {
  position: relative;
  padding: 110px 0 0;
  margin: 0 70px;
  min-height: calc(100vh - 100px);
}

.about-me__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

.about-me__title::after {
  content: "";
  display: block;
  padding: 23px 0 0;
  border-bottom: 1px solid #dadada;
}

.about-me__content {
  padding: 65px 0 0;
  display: flex;
  justify-content: space-between;
}

.about-me__avatar {
  min-width: 270px;
  min-height: 327px;
  max-height: 327px;
  border-radius: 10px;
  background: url(../../../images/my-photo.png), no-repeat;
  background-position: center;
  margin: 0 0 0 50px;
}

.about-me__text {
  max-width: 600px;
  position: relative;
  margin: 0;
}
.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 0;
}

.about-me__profession {
  margin: 18px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__description {
  margin: 26px 0 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__link {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.about-me__link:hover {
  opacity: 0.8;
}
